# Node modules
Backend/node_modules
frontend/node_modules

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Optional coverage directory
coverage

# Optional debugging files
*.stackdump

# dotenv environment variables file
.env

# Mac system files
.DS_Store

# Exclude other directories
pictures
saved
uploads
"backend/node_modules" 
"frontend/node_modules" 
"logs" 
"*.log" 
"pids" 
"*.pid" 
"*.seed" 
"*.pid.lock" 
"jspm_packages/" 
".npm" 
".eslintcache" 
".node_repl_history" 
"coverage" 
"*.stackdump" 
".env" 
".DS_Store" 
"pictures" 
"saved" 
"uploads" 
